<section>
    <div class="container">
        <div class="columns">
            <div class="column col-sm-auto">
                <aside>
                    <h5 class="">About</h5>
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="/about-the-event/">About the Event</a>
                        </li>
                        <li class="nav-item">
                            <a href="/harvey-milk-foundation/">Harvey Milk Foundation</a>
                        </li>
                        <li class="nav-item">
                            <a href="/the-pride-center/">The Pride Center</a>
                        </li>
                    </ul>
                    <h5 class="">Past Events</h5>
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="/2019-event/">2019 Event</a>
                        </li>
                        <li class="nav-item">
                            <a href="/2018-event/">2018 Event</a>
                        </li>
                        <li class="nav-item">
                            <a href="/2017-event/">2017 Event</a>
                        </li>
                        <li class="nav-item">
                            <a href="/2016-event/">2016 Event</a>
                        </li>
                        <li class="nav-item">
                            <a href="/2015-event/">2015 Event</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="column col-sm-auto col-10">
                {{ content }}
            </div>
        </div>
    </div>
</section>