<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/flickity.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/fullscreen.css"> -->
</head>

<body id="{{ slug }}">
    <div class="backsplash"></div>
    <div class="content-wrap">
        <div class="container grid-lg">
            <a href="{{ base_path }}/">
                <img src="{{ base_path }}/img/dh_logo_header.png" alt="Diversity Honors Logo" height="80px" class="header-logo">
            </a>
            <header class="navbar">
                <section id="navbarLinks" class="navbar-section">
                    <a href="{{ base_path }}/" class="btn btn-link">Home</a>
                    <a href="{{ base_path }}/about-the-event/" class="btn btn-link">About the Event</a>
                    <a href="{{ base_path }}/honorees" class="btn btn-link">Honorees</a>
                    <a href="{{ base_path }}/event-location/" class="btn btn-link">Event Location</a>
                    <a href="{{ base_path }}/2019-event/" class="btn btn-link">Past Events</a>
                    <a href="https://fundraising.devpartners.io/" class="btn btn-link">In Person Tickets</a>
                    <a href="https://pridecenter.streamallytix.com/" class="btn btn-link">Virtual Tickets</a>
                </section>
                <a href="javascript:void(0);" onclick="navbarToggle()" class="btn btn-link navbar-toggle">
                    <img src="{{ base_path }}/img/menu.svg" alt="Mobile Menu Toggle"><span>Menu</span>
                </a>
            </header>
            <main>
                {{ content }}
            </main>
            <footer>
                <div class="container">
                    <div class="columns">
                        <div class="column col-lg-auto col-8">
                            <p>For more information: 954-463-9005 ext.105</p>
                        </div>
                        <div class="column">
                            <h5 class="center">Tickets available</h5>
                            <p class="center">
                                <!-- <a href="https://www.facebook.com/DiversityHonors/">stay tuned for updates</a> -->
                                <a href="https://fundraising.devpartners.io/">In person tickets</a>
                                <br>
                                <a href="https://pridecenter.streamallytix.com/">Virtual tickets</a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
            <span class="copyright-text">© {{ current_year }} - Diversity Honors</span>
        </div>
    </div>
    <script src="{{ base_path }}/js/flickity.pkgd.min.js"></script>
    <!-- <script src="{{ base_path }}/js/fullscreen.js"></script> -->
    <script>
        function navbarToggle() {
          var x = document.getElementById("navbarLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }

        var flkty = new Flickity( '.img-gallery', {
            // options
            cellAlign: 'left',
            autoPlay: true,
            // fullscreen: true,
            adaptiveHeight: true,
            wrapAround: true,
            contain: true
        });
    </script>
</body>
</html>
